.swiperContainer {
  width: 100%;
  height: auto;
  width: fit-content;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
