.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  min-width: 200px;
  height: 100px;
  padding: 20px;
  cursor: pointer;
  border: 1px solid var(--border-primary-color);
  border-radius: var(--border-radius-large);
}

.container:hover {
  box-shadow: 0 0 15px 5px var(--shadow-primary-color);
}

.buttonsContainer {
  display: flex;
  gap: 30px;
}

.title:hover {
  text-decoration: underline;
}
